[Desktop Entry]
Name=Oopz
Comment=Oopz Electron App
Exec=oopz-electron
Icon=oopz-electron
Terminal=false
Type=Application
Categories=Network;Chat;
StartupWMClass=oopz-electron
